.modal-content {
    padding: 20px;
    margin-top: 10vh;
}

.modal-form {
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
    padding-right: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff9f00;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c47a01;
}

.modal-input {
    display: block;
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    color: #ffffff;
    transition: all 0.4s ease-in-out;
    font-size: 100%;
    padding-left: 30px;
}

.modal-input::placeholder {
    color: white;
    font-size: 90%;
}

textarea:focus,
input:focus {
    outline: none;
    border-bottom: 2.5px solid white;
}

@media all and (min-width: 2000px) {
    .modal-input::placeholder {
        font-size: 80%;
    }

    .modal-input,
    .modal-button {
        font-size: 110%;
    }
}