.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 40vw;
    padding: 20px;
    border: 1px solid #057305;
    border-radius: 4%;
    z-index: 4;
    background: #057305;
    color: white;
    -webkit-animation: slit .8s forwards ease-out;
    -moz-animation: slit .8s forwards ease-out;
    animation: slit .8s forwards ease-out;
    box-shadow: 0 0 8px 8px rgb(0 0 0 / 20%), 12px 12px 20px 0 rgb(0 0 0 / 19%);
}

.close {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: backwards;
}

.step-icons {
    font-size: 120%;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 8px;
    border-radius: 50%;
    margin-left: 7vw;
}

.selected-step-icon {
    font-size: 170%;
    border: 2px solid #ff9f00;
    color: #ff9f00;
}

.step-icons-dash {
    height: 0.28vh;
    background-color: white;
    position: absolute;
    width: 6vw;
    top: 50%;
    margin: 0 0.5vw;
}

.form-step-container {
    position: absolute;
    margin: 0 auto;
    left: 3vw;
}

.step-container {
    position: relative;
}

.step-text {
    position: absolute;
    bottom: -100%;
    left: 60%;
    width: 100%;
    font-size: 80%;
}

.selected-step-text {
    color: #ff9f00;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.modal-cancel {
    float: right;
    cursor: pointer;
}

.modal-footer {
    margin-top: 20px;
}

.modal-footer:hover {
    font-size: 110%;
    cursor: pointer;
}

@keyframes slit {
    0% {
        transform: translate(-40%, -40%) skew(10deg, 40deg) rotateY(30deg);
        opacity: 1;
    }

    50% {
        transform: translate(-40%, -40%) skew(40deg, 30deg) rotateY(70deg);
        opacity: 1;
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(-50%, -50%) rotateY(0deg);
        opacity: 1;
    }
}

@media all and (min-width: 2000px) {
    .modal {
        font-size: 200%;
    }

    .modal-footer,
    .modal-cancel {
        font-size: 110%;
    }
}

@media all and (max-width: 1700px) {
    .modal {
        height: 70vh;
    }
}

@media all and (max-width: 1530px) {
    .modal {
        height: 70vh;
    }
}

@media all and (max-width: 1100px) {
    .form-step-container {
        left: 0;
    }

    .step-text {
        left: 50%;
    }
}

@media all and (max-width: 1000px) {
    .modal {
        width: 60vw;
    }

    .form-step-container {
        left: 10vw;
    }
}

@media all and (max-width: 600px) {
    .modal {
        width: 70vw;
        font-size: 86%;
    }

    .form-step-container {
        left: 13vw;
    }

    .step-text {
        left: 40%;
    }
}

@media all and (max-width: 450px) {
    .modal {
        width: 80vw;
    }

    .step-icons {
        margin-left: 12vw;
    }

    .form-step-container {
        left: 5vw;
    }

    .step-text {
        left: 45%;
    }

    .step-icons-dash {
        width: 11vw;
    }
}

@media all and (max-width: 380px) {
    .modal {
        height: 74vh;
    }
}